/.idea/
/research-initial python notebooks/sample_20k.csv
/research-initial python notebooks/master_df.csv
/research-initial python notebooks/merged_master.csv
/research-initial python notebooks/.ipynb_checkpoints/ShopTalk-DataCleaning-checkpoint.ipynb
/research-initial python notebooks/.ipynb_checkpoints/ShopTalk-Model-Experimentation-checkpoint.ipynb
/research-initial python notebooks/.ipynb_checkpoints/
/artifacts/data_ingestion/__MACOSX/
/artifacts/data_ingestion/data/
/artifacts/data_ingestion/data/small/
/artifacts/data_ingestion/data/images.csv
/artifacts/data_ingestion/data/listings_0.json
/artifacts/data_ingestion/data/listings_1.json
/artifacts/data_ingestion/data/listings_2.json
/artifacts/data_ingestion/data/listings_3.json
/artifacts/data_ingestion/data/listings_4.json
/artifacts/data_ingestion/data/listings_5.json
/artifacts/data_ingestion/data/listings_6.json
/artifacts/data_ingestion/data/listings_7.json
/artifacts/data_ingestion/data/listings_8.json
/artifacts/data_ingestion/data/listings_9.json
/artifacts/data_ingestion/data/listings_a.json
/artifacts/data_ingestion/data/listings_b.json
/artifacts/data_ingestion/data/listings_c.json
/artifacts/data_ingestion/data/listings_d.json
/artifacts/data_ingestion/data/listings_e.json
/artifacts/data_ingestion/data/listings_f.json
/artifacts/data_ingestion/data.zip
/logs/running_logs.log
