cmake
pandas
numpy
matplotlib
seaborn
wordcloud
datasets
transformers
torch
langchain-community
sentence-transformers
langchain
ray[tune]
transformers[torch]
accelerate>=0.26.0
chromadb
python-dotenv
openai
mlflow
python-box
pyYAML~=6.0.2
tqdm
ensure==1.0.2
joblib~=1.4.2
types-PyYAML
Flask
Flask-Cors
setuptools~=76.0.0
-e . # This is needed for creation as a local Project